@model IEnumerable<mail_management_frontoffice_mvcadonet.Models.Mail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ref)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailObject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messenger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailObject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUser.NormalizedUserName)
            </td>
        </tr>
}
    </tbody>
</table>
