@page
@model mail_management_backoffice.Pages.Mails.IndexModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager



@{
    ViewData["Title"] = "Mails List";
}

<h1>Mails List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].CreateUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].Ref)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].Messenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].Recipients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].MailObject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].Flag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail[0].Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Mail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateUser.NormalizedUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ref)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messenger)
            </td>
            <td>
                    <ul>
                        @foreach (var recipient in item.Recipients)
                        {
                            <li>@recipient.Name</li>
                        }
                    </ul>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailObject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
